* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(61, 43, 115) 0%, rgb(221, 208, 221) 90%);
  color: #333;
  max-width: 400px;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f0f0f0;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: #ea3434;
  border: 1px solid #d0d0d0;
  color: #333;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  .btn:hover,
  .btn:focus-visible {
    box-shadow: 5px 5px 15px #c0c0c0, -5px -5px 15px #ffffff;
  }

  .btn.btn-danger {
    background: #ff5050;
    border: 1px solid #ff4040;
    color: #fff;
  }



  .new-item-form input {
    outline: none;
    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    color: #333;
    transition: border 0.3s;
  }

  .new-item-form input:focus {
    border: 1px solid #aaa;
  }

  .header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
  }

  .list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 0.3rem;
  }

  .list li:has(input:checked) label {
    color: #ffffff;
    text-decoration: line-through;
  }

  .list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .list li label {
    gap: 0.25rem;
    cursor: pointer;
    
  }

  .list li:has(input:focus-visible) label {
    outline: 1px solid #666;
  }


  .list li input {
    outline: none;
    width: .9rem;
    height: .9rem;
    pointer-events: none;
  }

  .list li label:hover::before {
    box-shadow: 5px 5px 15px #c0c0c0, -5px -5px 15px #ffffff;
  }

  .list li:has(input:checked) label::before {
    content: "✔";
    z-index: 55;

    background: #4caf50;
    color: #fff;
  }

  .list li:has(input:checked) label:hover::before {
    background: #4caf50;
  }
}